# Read The csv file

In [97]:
import pandas as pd

# Read the Excel file  
df = pd.read_csv("c:/Users/nagam/OneDrive/Desktop/Police_secure_log/traffic_stops - traffic_stops_with_vehicle_number.csv")

# Display first few rows
df.head()

C:\Users\nagam\AppData\Local\Temp\ipykernel_31176\447685960.py:4: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("c:/Users/nagam/OneDrive/Desktop/Police_secure_log/traffic_stops - traffic_stops_with_vehicle_number.csv")

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
0,2020-01-01,0:00:00,Canada,M,59,19,Asian,Drunk Driving,Speeding,True,Vehicle Search,Ticket,True,16-30 Min,True,UP76DY3473
1,2020-01-01,0:01:00,India,M,35,58,Other,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,True,RJ83PZ4441
2,2020-01-01,0:02:00,USA,M,26,76,Black,Signal Violation,Speeding,False,Frisk,Ticket,True,16-30 Min,True,RJ32OM7264
3,2020-01-01,0:03:00,Canada,M,26,76,Black,Speeding,DUI,True,Frisk,Warning,False,0-15 Min,True,RJ76TI3807
4,2020-01-01,0:04:00,Canada,M,62,75,Other,Speeding,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,WB63BB8305

In [98]:
print(df.isna().sum())

stop_date                 0
stop_time                 0
country_name              0
driver_gender             0
driver_age_raw            0
driver_age                0
driver_race               0
violation_raw             0
violation                 0
search_conducted          0
search_type           21720
stop_outcome              0
is_arrested               0
stop_duration             0
drugs_related_stop        0
vehicle_number            0
dtype: int64

In [99]:
df = df.dropna(axis=1,how='all')
print(df)

        stop_date stop_time country_name driver_gender  driver_age_raw  \
0      2020-01-01   0:00:00       Canada             M              59
1      2020-01-01   0:01:00        India             M              35
2      2020-01-01   0:02:00          USA             M              26
3      2020-01-01   0:03:00       Canada             M              26
4      2020-01-01   0:04:00       Canada             M              62
...           ...       ...          ...           ...             ...
65533  2020-02-15  12:13:00        India             F              54
65534  2020-02-15  12:14:00       Canada             F              18
65535  2020-02-15  12:15:00          USA             M              27
65536  2020-02-15  12:16:00       Canada             F              49
65537  2020-02-15  12:17:00          USA             F              72

       driver_age driver_race     violation_raw violation  search_conducted  \
0              19       Asian     Drunk Driving  Speeding              True
1              58       Other             Other     Other             False
2              76       Black  Signal Violation  Speeding             False
3              76       Black          Speeding       DUI              True
4              75       Other          Speeding     Other             False
...           ...         ...               ...       ...               ...
65533          48       Black             Other     Other             False
65534          35    Hispanic          Seatbelt     Other              True
65535          41       Asian          Seatbelt       DUI              True
65536          63       Black          Seatbelt     Other             False
65537          32       Other          Seatbelt  Speeding              True

          search_type stop_outcome  is_arrested stop_duration  \
0      Vehicle Search       Ticket         True     16-30 Min
1      Vehicle Search       Arrest         True     16-30 Min
2               Frisk       Ticket         True     16-30 Min
3               Frisk      Warning        False      0-15 Min
4      Vehicle Search       Arrest         True     16-30 Min
...               ...          ...          ...           ...
65533  Vehicle Search       Arrest         True     16-30 Min
65534  Vehicle Search       Ticket        False     16-30 Min
65535           Frisk       Ticket         True       30+ Min
65536             NaN      Warning         True      0-15 Min
65537             NaN       Ticket         True     16-30 Min

       drugs_related_stop vehicle_number
0                    True     UP76DY3473
1                    True     RJ83PZ4441
2                    True     RJ32OM7264
3                    True     RJ76TI3807
4                   False     WB63BB8305
...                   ...            ...
65533               False     DL56GW6568
65534                True     TN73EO7098
65535                True     GJ33MX8328
65536                True     KA24UZ8488
65537               False     UP89PT2924

[65538 rows x 16 columns]

In [100]:
df = df.fillna(method='bfill')

# Forward fill (ffill)
df = df.fillna(method='ffill')

# Fill with mean (for numerical columns only)
df = df.fillna(df.mean(numeric_only=True))

# Fill with 0
df_zero = df.fillna(0)

# Drop rows with null values
df_dropped = df.dropna()
print(df)

C:\Users\nagam\AppData\Local\Temp\ipykernel_31176\4025665237.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.fillna(method='bfill')
C:\Users\nagam\AppData\Local\Temp\ipykernel_31176\4025665237.py:4: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.fillna(method='ffill')

        stop_date stop_time country_name driver_gender  driver_age_raw  \
0      2020-01-01   0:00:00       Canada             M              59
1      2020-01-01   0:01:00        India             M              35
2      2020-01-01   0:02:00          USA             M              26
3      2020-01-01   0:03:00       Canada             M              26
4      2020-01-01   0:04:00       Canada             M              62
...           ...       ...          ...           ...             ...
65533  2020-02-15  12:13:00        India             F              54
65534  2020-02-15  12:14:00       Canada             F              18
65535  2020-02-15  12:15:00          USA             M              27
65536  2020-02-15  12:16:00       Canada             F              49
65537  2020-02-15  12:17:00          USA             F              72

       driver_age driver_race     violation_raw violation  search_conducted  \
0              19       Asian     Drunk Driving  Speeding              True
1              58       Other             Other     Other             False
2              76       Black  Signal Violation  Speeding             False
3              76       Black          Speeding       DUI              True
4              75       Other          Speeding     Other             False
...           ...         ...               ...       ...               ...
65533          48       Black             Other     Other             False
65534          35    Hispanic          Seatbelt     Other              True
65535          41       Asian          Seatbelt       DUI              True
65536          63       Black          Seatbelt     Other             False
65537          32       Other          Seatbelt  Speeding              True

          search_type stop_outcome  is_arrested stop_duration  \
0      Vehicle Search       Ticket         True     16-30 Min
1      Vehicle Search       Arrest         True     16-30 Min
2               Frisk       Ticket         True     16-30 Min
3               Frisk      Warning        False      0-15 Min
4      Vehicle Search       Arrest         True     16-30 Min
...               ...          ...          ...           ...
65533  Vehicle Search       Arrest         True     16-30 Min
65534  Vehicle Search       Ticket        False     16-30 Min
65535           Frisk       Ticket         True       30+ Min
65536           Frisk      Warning         True      0-15 Min
65537           Frisk       Ticket         True     16-30 Min

       drugs_related_stop vehicle_number
0                    True     UP76DY3473
1                    True     RJ83PZ4441
2                    True     RJ32OM7264
3                    True     RJ76TI3807
4                   False     WB63BB8305
...                   ...            ...
65533               False     DL56GW6568
65534                True     TN73EO7098
65535                True     GJ33MX8328
65536                True     KA24UZ8488
65537               False     UP89PT2924

[65538 rows x 16 columns]

In [101]:
df.isnull().sum()

stop_date             0
stop_time             0
country_name          0
driver_gender         0
driver_age_raw        0
driver_age            0
driver_race           0
violation_raw         0
violation             0
search_conducted      0
search_type           0
stop_outcome          0
is_arrested           0
stop_duration         0
drugs_related_stop    0
vehicle_number        0
dtype: int64

In [102]:
df.head()

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
0,2020-01-01,0:00:00,Canada,M,59,19,Asian,Drunk Driving,Speeding,True,Vehicle Search,Ticket,True,16-30 Min,True,UP76DY3473
1,2020-01-01,0:01:00,India,M,35,58,Other,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,True,RJ83PZ4441
2,2020-01-01,0:02:00,USA,M,26,76,Black,Signal Violation,Speeding,False,Frisk,Ticket,True,16-30 Min,True,RJ32OM7264
3,2020-01-01,0:03:00,Canada,M,26,76,Black,Speeding,DUI,True,Frisk,Warning,False,0-15 Min,True,RJ76TI3807
4,2020-01-01,0:04:00,Canada,M,62,75,Other,Speeding,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,WB63BB8305

# SQL Connection sqlite

In [103]:
import sqlite3

conn_sqlite = sqlite3.connect("policelog_database.sqlite")  # Creates a local database file
cursor = conn_sqlite.cursor()
print("SQLite connection established!")

SQLite connection established!

In [104]:
from sqlalchemy import create_engine

engine = create_engine("sqlite:///policelog_database.sqlite")  # For SQLite
conn_alchemy = engine.connect()
print("SQLAlchemy connection established!")

SQLAlchemy connection established!

In [105]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS policelog_data (
       stop_date date,
       stop_time time,
       country_name	Varchar(50),
       driver_gender Varchar(50),
       driver_age_raw int,	
       driver_age int,
       driver_race Varchar(50),
       violation_raw Varchar(50),
       violation Varchar(50),
       search_conducted Varchar(50),
       search_type Varchar(50),
       stop_outcome	Varchar(50),
       is_arrested  Varchar(50),
       stop_duration Varchar(50),
       drugs_related_stop Varchar(50),
       vehicle_number Varchar(50)

    );
""")
conn_sqlite.commit()
print("Table 'policelog_data' created successfully in SQLite!")

Table 'policelog_data' created successfully in SQLite!

In [106]:
df.to_sql("policelog_data", engine, if_exists="append", index=False)
print("Data inserted using to_sql()")

Data inserted using to_sql()

In [107]:
for index, row in df.iterrows():
    cursor.execute("""
        INSERT INTO policelog_data (stop_date,stop_time,
    country_name,driver_gender,driver_age_raw,driver_age,driver_race,
    violation_raw,violation,search_conducted,search_type,stop_outcome,
    is_arrested,stop_duration,drugs_related_stop,vehicle_number)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?,?, ?, ?, ?, ?, ?, ?, ?);
    """, tuple(row))
conn_sqlite.commit()
print("Data inserted using iterrows()")

Data inserted using iterrows()

In [109]:
from tabulate import tabulate 
cursor.execute("select * from policelog_data")
out=cursor.fetchall() 
print(tabulate(out,headers=[i[0] for i in cursor.description],  tablefmt='psql'))

KeyboardInterrupt:

In [ ]:
from tabulate import tabulate 
cursor.execute("SELECT COUNT(country_name) FROM policelog_data")

out=cursor.fetchall() 
print(tabulate(out,headers=[i[0] for i in cursor.description],  tablefmt='psql'))

# Medium Level Query

# 1.Total Number of Police Stops

In [ ]:
from tabulate import tabulate 
cursor.execute("SELECT COUNT(*) AS Total_stops FROM policelog_data")

out=cursor.fetchall() 
print(tabulate(out,headers=[i[0] for i in cursor.description],  tablefmt='psql'))

# 2.Count of Stops by Violation Type

In [ ]:
from tabulate import tabulate 
cursor.execute("sELECT violation, COUNT(*) AS Count FROM policelog_data GROUP BY violation;")


out=cursor.fetchall() 
print(tabulate(out,headers=[i[0] for i in cursor.description],  tablefmt='psql'))

# 3. Number of Arrests vs. Warnings

In [ ]:
from tabulate import tabulate 
cursor.execute("SELECT stop_outcome, COUNT(*) AS Count FROM policelog_data WHERE stop_outcome IN ('Arrest', 'Warning') GROUP BY stop_outcome;")


out=cursor.fetchall() 
print(tabulate(out,headers=[i[0] for i in cursor.description],  tablefmt='psql'))

# 4.Average Age of Drivers Stopped

In [33]:
from tabulate import tabulate 
cursor.execute("SELECT AVG(driver_age) AS Average_Age FROM policelog_data WHERE driver_age IS NOT NULL;")


out=cursor.fetchall() 
print(tabulate(out,headers=[i[0] for i in cursor.description],  tablefmt='psql'))

+---------------+
|   Average_Age |
|---------------|
|       49.1122 |
+---------------+

# 5. Top 5 Most Frequent Search Types

In [ ]:
from tabulate import tabulate 
cursor.execute("SELECT search_type, COUNT(*) AS Frequency FROM policelog_data GROUP BY search_type ORDER BY Frequency DESC LIMIT 5;")


out=cursor.fetchall() 
print(tabulate(out,headers=[i[0] for i in cursor.description],  tablefmt='psql'))

# 6.Count of Stops by Gender

In [ ]:
from tabulate import tabulate 
cursor.execute("SELECT driver_gender, COUNT(*) AS Count FROM policelog_data GROUP BY driver_gender;")

out=cursor.fetchall() 
print(tabulate(out,headers=[i[0] for i in cursor.description],  tablefmt='psql'))

# 7.Most Common Violation for Arrests

In [ ]:
from tabulate import tabulate 
cursor.execute("SELECT violation, COUNT(*) AS Count FROM policelog_data WHERE is_arrested = True GROUP BY violation ORDER BY Count DESC;")


out=cursor.fetchall() 
print(tabulate(out,headers=[i[0] for i in cursor.description],  tablefmt='psql'))

# 8.Average Stop Duration for Each Violation

In [ ]:
from tabulate import tabulate 
cursor.execute("SELECT violation, AVG(stop_duration) AS Average_Duration FROM policelog_data GROUP BY violation;")


out=cursor.fetchall() 
print(tabulate(out,headers=[i[0] for i in cursor.description],  tablefmt='psql'))

# 9.Number of Drug-Related Stops by Year

In [ ]:
from tabulate import tabulate 
cursor.execute("SELECT strftime('%Y', stop_date) AS Year, COUNT(*) AS Drug_Related_Stops FROM policelog_data WHERE drugs_related_stop = True GROUP BY Year ORDER BY Year ASC;")

out=cursor.fetchall() 
print(tabulate(out,headers=[i[0] for i in cursor.description],  tablefmt='psql'))

# 10. Drivers with the Highest Number of Stops

In [ ]:
from tabulate import tabulate 
cursor.execute("SELECT vehicle_number,driver_age,COUNT(*) AS Stop_Count FROM policelog_data GROUP BY vehicle_number,driver_age ORDER BY Stop_Count DESC Limit 10;")


out=cursor.fetchall() 
print(tabulate(out,headers=[i[0] for i in cursor.description],  tablefmt='psql'))

# 11.Number of Stops Conducted at Night (Between 10 PM - 5 AM)

In [ ]:
from tabulate import tabulate 
cursor.execute("SELECT COUNT(*) AS Night_Stops FROM Policelog_data WHERE CAST(strftime('%H', stop_time) AS INTEGER) BETWEEN 22 AND 23 OR CAST(strftime('%H', stop_time) AS INTEGER) BETWEEN 00 AND 5;")


out=cursor.fetchall() 
print(tabulate(out,headers=[i[0] for i in cursor.description],  tablefmt='psql'))

# 12. Number of Searches Conducted by Violation Type

In [ ]:
from tabulate import tabulate 
cursor.execute("SELECT violation, COUNT(*) AS Search_Count FROM policelog_data WHERE search_conducted = True GROUP BY violation ORDER BY Search_Count DESC;")


out=cursor.fetchall() 
print(tabulate(out,headers=[i[0] for i in cursor.description],  tablefmt='psql'))

# 13. Arrest Rate by Driver Gender

In [ ]:
from tabulate import tabulate 
cursor.execute("SELECT driver_gender, COUNT(CASE WHEN is_arrested = 1 THEN 1 END) * 100.0 / COUNT(*) AS Arrest_Rate FROM policelog_data GROUP BY driver_gender;")


out=cursor.fetchall() 
print(tabulate(out,headers=[i[0] for i in cursor.description],  tablefmt='psql'))

# 14. Violation Trends Over Time (Monthly Count of Violations)

In [ ]:
from tabulate import tabulate 
cursor.execute("SELECT strftime('%Y-%m', stop_date) AS Month, violation, COUNT(*) AS Violation_Count FROM policelog_data GROUP BY Month, violation ORDER BY Month ASC, Violation_Count DESC;")


out=cursor.fetchall() 
print(tabulate(out,headers=[i[0] for i in cursor.description],  tablefmt='psql'))

# 15.Most Common Stop Outcomes for Drug-Related Stops

In [ ]:
from tabulate import tabulate 
cursor.execute("SELECT stop_outcome, COUNT(*) AS Outcome_Count FROM policelog_data WHERE drugs_related_stop = 1 GROUP BY stop_outcome ORDER BY Outcome_Count DESC;")


out=cursor.fetchall() 
print(tabulate(out,headers=[i[0] for i in cursor.description],  tablefmt='psql'))

# Complex

# 1.Yearly Breakdown of Stops and Arrests by Country (Using Subquery and Window Functions)

In [111]:
from tabulate import tabulate 
cursor.execute("""WITH YearlyData AS (
    SELECT country_name,
           strftime('%Y', stop_date) AS Year,
           COUNT(*) AS Total_Stops,
           SUM(CASE WHEN is_arrested = 1 THEN 1 ELSE 0 END) AS Total_Arrests
    FROM policelog_data
    GROUP BY country_name, Year
),
RankedData AS (
    SELECT country_name,
           Year,
           Total_Stops,
           Total_Arrests,
           RANK() OVER (PARTITION BY Year ORDER BY Total_Stops DESC) AS Rank_By_Stops
    FROM YearlyData
)
SELECT country_name,
       Year,
       Total_Stops,
       Total_Arrests,
       Rank_By_Stops
FROM RankedData
ORDER BY Year ASC, Rank_By_Stops;

""")


out=cursor.fetchall() 
print(tabulate(out,headers=[i[0] for i in cursor.description],  tablefmt='psql'))

+----------------+--------+---------------+-----------------+-----------------+
| country_name   |   Year |   Total_Stops |   Total_Arrests |   Rank_By_Stops |
|----------------+--------+---------------+-----------------+-----------------|
| India          |   2020 |        219980 |          110910 |               1 |
| Canada         |   2020 |        219080 |          109990 |               2 |
| USA            |   2020 |        216320 |          107560 |               3 |
+----------------+--------+---------------+-----------------+-----------------+

# 2.Driver Violation Trends Based on Age and Race (Join with Subquery)

In [ ]:
from tabulate import tabulate 
cursor.execute("""SELECT driver_age,
       driver_race,
       violation,
       COUNT(*) AS Violation_Count
FROM policelog_data
WHERE violation IN (
    SELECT DISTINCT violation
    FROM policelog_data
    WHERE driver_age IS NOT NULL AND driver_race IS NOT NULL
)
GROUP BY driver_age, driver_race, violation
ORDER BY driver_age ASC, Violation_Count DESC
;""")


out=cursor.fetchall() 
print(tabulate(out,headers=[i[0] for i in cursor.description],  tablefmt='psql'))

# 3.Time Period Analysis of Stops (Joining with Date Functions)

In [ ]:
from tabulate import tabulate 
cursor.execute("""SELECT 
    strftime('%Y', stop_date) AS Year,
    strftime('%m', stop_date) AS Month,
    COUNT(*) AS Total_Stops,
    SUM(CASE WHEN is_arrested = 1 THEN 1 ELSE 0 END) AS Total_Arrests
FROM policelog_data
GROUP BY Year, Month
ORDER BY Year ASC, Month ASC;
""")


out=cursor.fetchall() 
print(tabulate(out,headers=[i[0] for i in cursor.description],  tablefmt='psql'))

# 4.Correlation Between Age, Violation, and Stop Duration (Subquery)

In [ ]:
from tabulate import tabulate 
cursor.execute("""SELECT driver_age,
       violation,
       AVG(stop_duration) AS Avg_Stop_Duration,
       (SELECT COUNT(*) 
        FROM policelog_data AS SubQuery 
        WHERE SubQuery.driver_age = MainQuery.driver_age 
          AND SubQuery.violation = MainQuery.violation) AS Total_Stops
FROM policelog_data AS MainQuery
GROUP BY driver_age, violation
ORDER BY driver_age ASC, Avg_Stop_Duration DESC
;""")


out=cursor.fetchall() 
print(tabulate(out,headers=[i[0] for i in cursor.description],  tablefmt='psql'))

# 5.Violations with High Search and Arrest Rates (Window Function)

In [ ]:
from tabulate import tabulate 
cursor.execute("""WITH ViolationStats AS (
    SELECT violation,
           COUNT(*) AS Total_Stops,
           SUM(CASE WHEN search_conducted = 1 THEN 1 ELSE 0 END) AS Search_Count,
           SUM(CASE WHEN is_arrested = 1 THEN 1 ELSE 0 END) AS Arrest_Count
    FROM policelog_data
    GROUP BY violation
)
SELECT violation,
       Total_Stops,
       Search_Count,
       Arrest_Count,
       ROUND(Search_Count * 100.0 / Total_Stops, 2) AS Search_Rate,
       ROUND(Arrest_Count * 100.0 / Total_Stops, 2) AS Arrest_Rate
FROM ViolationStats
WHERE (Search_Count * 100.0 / Total_Stops) > 30 OR (Arrest_Count * 100.0 / Total_Stops) > 20
ORDER BY (Search_Count * 100.0 / Total_Stops) DESC, (Arrest_Count * 100.0 / Total_Stops) DESC
;""")


out=cursor.fetchall() 
print(tabulate(out,headers=[i[0] for i in cursor.description],  tablefmt='psql'))

# 6.Driver Demographics by Country (Age, Gender, and Race)

In [ ]:
from tabulate import tabulate 
cursor.execute("""SELECT 
    country_name,
    ROUND(AVG(driver_age), 2) AS Average_Age,
    COUNT(*) AS Total_Stops,
    SUM(CASE WHEN driver_gender = 'Male' THEN 1 ELSE 0 END) AS Male_Count,
    SUM(CASE WHEN driver_gender = 'Female' THEN 1 ELSE 0 END) AS Female_Count,
    SUM(CASE WHEN driver_race = 'White' THEN 1 ELSE 0 END) AS White_Count,
    SUM(CASE WHEN driver_race = 'Black' THEN 1 ELSE 0 END) AS Black_Count,
    SUM(CASE WHEN driver_race = 'Asian' THEN 1 ELSE 0 END) AS Asian_Count,
    SUM(CASE WHEN driver_race = 'Hispanic' THEN 1 ELSE 0 END) AS Hispanic_Count,
    SUM(CASE WHEN driver_race NOT IN ('White', 'Black', 'Asian', 'Hispanic') THEN 1 ELSE 0 END) AS Other_Race_Count
FROM policelog_data
WHERE driver_age IS NOT NULL
GROUP BY country_name
ORDER BY Total_Stops DESC
;""")


out=cursor.fetchall() 
print(tabulate(out,headers=[i[0] for i in cursor.description],  tablefmt='psql'))

# 7.Top 5 Violations with Highest Arrest Rates

In [ ]:
from tabulate import tabulate 
cursor.execute("""SELECT violation,
       COUNT(*) AS Total_Stops,
       SUM(CASE WHEN is_arrested = 1 THEN 1 ELSE 0 END) AS Arrest_Count,
       ROUND(SUM(CASE WHEN is_arrested = 1 THEN 1 ELSE 0 END) * 100.0 / COUNT(*), 2) AS Arrest_Rate
FROM policelog_data
GROUP BY violation
ORDER BY Arrest_Rate DESC
LIMIT 5;
""")


out=cursor.fetchall() 
print(tabulate(out,headers=[i[0] for i in cursor.description],  tablefmt='psql'))

# Streamlit

In [19]:
%%writefile app.py
import streamlit as st
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

data = pd.read_csv("c:/Users/nagam/Downloads/vehicle_logs.csv")

# Function to connect to SQLite database
def get_data(query, params=None):
    conn = sqlite3.connect("policelog_database.sqlite")
    if params:
        df = pd.read_sql_query(query, conn, params=params)
    else:
        df = pd.read_sql_query(query, conn)
    conn.close()
    return df


st.set_page_config(page_title="Securecheck police Dashboard", layout="wide")


#st.title("Traffic Police security Post Log Reports")

#st.markdown(" **Traffic Police Security Post Log Reports**", unsafe_allow_html=True)
#st.markdown("<span style='color:blue;'>Real-time monitoring and insights for law enforcement </span>", unsafe_allow_html=True)

st.sidebar.title("Navigation")
page = st.sidebar.radio("Direct Into", ["Project Introduction", "Vehical logs Visualization", "SQL Queries","Predicted Violation","Creator Info"])

if page == "Project Introduction":
    st.title(" Traffic Security Analysis")
    tab1,tab2=st.tabs(["Project Introduction","Police Post Log Database"])
    with tab1:
        st.image("https://static.vecteezy.com/system/resources/previews/002/928/462/original/the-traffic-policeman-waved-his-hand-signal-at-the-crosswalk-vector.jpg",)  # Adding GIF
        st.subheader(" A Streamlit App for Exploring Traffice Security logs")
        st.write("""
        Police check posts require a centralized system for logging, tracking, and analyzing vehicle movements. 
        Currently, manual logging and inefficient databases slow down security processes. 
        This project aims to build an SQL-based check post database with a Python-powered dashboard for real-time insights and alerts
    
        **Features:**
        - Display vehicle logs, violations, and officer reports.
        - Implement SQL-based search filters for quick lookups.
        - Generate analytics and trends (e.g., high-risk vehicles)

    
        **Database Used:** `Policelog_database.sqlite`
        """)
    with tab2:
        st.header("Policelog_Database")
        total_database = "select * from policelog_data"
        data = get_data(total_database)
        st.dataframe(data, use_container_width=True)

elif page == "Vehical logs Visualization":
    st.header(" Visualization")
    # Creating columns
    col1, col2, col3, col4,col5 = st.columns(5)
# Adding content to the first column
    with col1:
        total_stops = data.shape[0]
        st.metric("Total Police Stops", total_stops)
    with col2:
        arrests=data[data['stop_outcome'].str.contains("arrest",case=False,na=False)].shape[0]
        st.metric("Total Arrests",arrests)
    with col3:
        warnings=data[data['stop_outcome'].str.contains("warning",case=False,na=False)].shape[0]
        st.metric("Total Warnings",warnings)
    with col4:
        tickets=data[data['stop_outcome'].str.contains("ticket",case=False,na=False)].shape[0]
        st.metric("Total Tickets",tickets)
    with col5:
        drunk_driving=data[data['violation_raw'].str.contains("Drunk Driving",case=False,na=False)].shape[0]
        st.metric("Total Drunk Driving",drunk_driving)  

    st.subheader("Key Metrics Visualization")

# Prepare data for chart
    metrics = {
        "Metric": ["Total Police Stops",   "Arrests",   "Warnings",   "Tickets",   "Drunk Driving"],
        "Count": [total_stops,  arrests,  warnings,  tickets,  drunk_driving]
    }
    metrics_df = pd.DataFrame(metrics)
    # Create a bar chart
    fig, ax = plt.subplots()
    ax.bar(metrics_df["Metric"], metrics_df["Count"], color='skyblue')
    ax.set_ylabel("Count")
    ax.set_title("Key Metrics")

    # Display the chart in Streamlit
    st.pyplot(fig)
    st.header("Visual Insights")
    tab1,tab2=st.tabs(["stops by violation","Driver Gender Distribution"])
    with tab1:
        if not data.empty and 'violation_raw' in data.columns:
            violation_data = data['violation_raw'].value_counts().reset_index()
            violation_data.columns = ['violation_raw', 'count']  # Ensure column names are correct
            # Create the bar chart
            fig = px.bar(
            violation_data,
            x='violation_raw',
            y='count',
            title="Stops by Violation Type",
            )
            # Display the chart in Streamlit
            st.plotly_chart(fig, use_container_width=True)
    
    
    # Display the chart in Streamlit
    
        else:
            st.warning("No data available for violation chart")

    with tab2:
        if not data.empty and 'driver_gender' in data.columns:
            gender_data = data['driver_gender'].value_counts().reset_index()
            gender_data.columns = ['Gender', 'count']  # Ensure column name is 'count'
            # Correct column name for 'values' parameter
            fig = px.pie(gender_data, names='Gender', values='count', title="Driver Gender Distribution")
            st.plotly_chart(fig, use_container_width=True)
        else:
            st.warning("No data available for driver gender chart")
            
elif page == "SQL Queries":
    st.title(" SQL Query Results")
    tab1,tab2=st.tabs(["Basic Acumen","Advanced Acumen"])
    with tab1:
        st.header("Preliminary Analysis")
        query = {
        "1. Total Number of Police Stops": "SELECT COUNT(*) AS Total_stops FROM policelog_data",
        "2. Count of Stops by Violation Type": "sELECT violation, COUNT(*) AS Count FROM policelog_data GROUP BY violation",
        "3. Number of Arrests vs. Warnings" : "SELECT stop_outcome, COUNT(*) AS Count FROM policelog_data WHERE stop_outcome IN ('Arrest', 'Warning') GROUP BY stop_outcome",
        "4. Average Age of Drivers Stopped" : "SELECT AVG(driver_age) AS Average_Age FROM policelog_data WHERE driver_age IS NOT NULL",
        "5. Top 5 Most Frequent Search Types" : "SELECT search_type, COUNT(*) AS Frequency FROM policelog_data GROUP BY search_type ORDER BY Frequency DESC LIMIT 5",
        "6. Count of Stops by Gender" : "SELECT driver_gender, COUNT(*) AS Count FROM policelog_data GROUP BY driver_gender",
        "7. Most Common Violation for Arrests" : "SELECT violation, COUNT(*) AS Count FROM policelog_data WHERE is_arrested = True GROUP BY violation ORDER BY Count DESC",
        "8. Average Stop Duration for Each Violation" : "SELECT violation, AVG(stop_duration) AS Average_Duration FROM policelog_data GROUP BY violation",
        "9. Number of Drug-Related Stops by Year" : "SELECT strftime('%Y', stop_date) AS Year, COUNT(*) AS Drug_Related_Stops FROM policelog_data WHERE drugs_related_stop = True GROUP BY Year ORDER BY Year ASC",
        "10. Drivers with the Highest Number of Stops" : "SELECT vehicle_number,driver_age,COUNT(*) AS Stop_Count FROM policelog_data GROUP BY vehicle_number,driver_age ORDER BY Stop_Count DESC Limit 10",
        "11. Number of Stops Conducted at Night (Between 10 PM - 5 AM)" : "SELECT COUNT(*) AS Night_Stops FROM Policelog_data WHERE CAST(strftime('%H', stop_time) AS INTEGER) BETWEEN 22 AND 23 OR CAST(strftime('%H', stop_time) AS INTEGER) BETWEEN 00 AND 5",
        "12. Number of Searches Conducted by Violation Type" : "SELECT violation, COUNT(*) AS Search_Count FROM policelog_data WHERE search_conducted = True GROUP BY violation ORDER BY Search_Count DESC",
        "13. Arrest Rate by Driver Gender" : "SELECT driver_gender, COUNT(CASE WHEN is_arrested = 1 THEN 1 END) * 100.0 / COUNT(*) AS Arrest_Rate FROM policelog_data GROUP BY driver_gender",
        "14. Violation Trends Over Time (Monthly Count of Violations)" : "SELECT strftime('%Y-%m', stop_date) AS Month, violation, COUNT(*) AS Violation_Count FROM policelog_data GROUP BY Month, violation ORDER BY Month ASC, Violation_Count DESC",
        "15. Most Common Stop Outcomes for Drug-Related Stops" : "SELECT stop_outcome, COUNT(*) AS Outcome_Count FROM policelog_data WHERE drugs_related_stop = 1 GROUP BY stop_outcome ORDER BY Outcome_Count DESC"
        }
        selected_query = st.selectbox("Choose a Query", list(query.keys()))
        if st.button("Run Query", key="run_query_button"):
            query_result = get_data(query[selected_query])
            if not query_result.empty:
                st.write(query_result)
            else:
                st.warning("No result founds for the selected query")


    with tab2:
        st.header("Advanced Acumen")
        queries = {
        "1. Yearly Breakdown of Stops and Arrests by Country (Using Subquery and Window Functions)": "WITH YearlyData AS (SELECT country_name,strftime('%Y', stop_date) AS Year,COUNT(*) AS Total_Stops,SUM(CASE WHEN is_arrested = 1 THEN 1 ELSE 0 END) AS Total_Arrests FROM policelog_data GROUP BY country_name, Year),RankedData AS (SELECT country_name,Year,Total_Stops,Total_Arrests,RANK() OVER (PARTITION BY Year ORDER BY Total_Stops DESC) AS Rank_By_Stops FROM YearlyData)SELECT country_name,Year,Total_Stops,Total_Arrests,Rank_By_Stops FROM RankedData ORDER BY Year ASC, Rank_By_Stops",
        "2. Driver Violation Trends Based on Age and Race (Join with Subquery)": "SELECT driver_age,driver_race,violation,COUNT(*) AS Violation_Count FROM policelog_data WHERE violation IN (SELECT DISTINCT violation FROM policelog_data WHERE driver_age IS NOT NULL AND driver_race IS NOT NULL)GROUP BY driver_age, driver_race, violation ORDER BY driver_age ASC, Violation_Count DESC",
        "3. Time Period Analysis of Stops (Joining with Date Functions)" : "SELECT strftime('%Y', stop_date) AS Year,strftime('%m', stop_date) AS Month,COUNT(*) AS Total_Stops,SUM(CASE WHEN is_arrested = 1 THEN 1 ELSE 0 END) AS Total_Arrests FROM policelog_data GROUP BY Year, Month ORDER BY Year ASC, Month ASC",
        "4. Correlation Between Age, Violation, and Stop Duration (Subquery)" : "SELECT driver_age,violation,AVG(stop_duration) AS Avg_Stop_Duration,(SELECT COUNT(*) FROM policelog_data AS SubQuery WHERE SubQuery.driver_age = MainQuery.driver_age AND SubQuery.violation = MainQuery.violation) AS Total_Stops FROM policelog_data AS MainQuery GROUP BY driver_age, violation ORDER BY driver_age ASC, Avg_Stop_Duration DESC",
        "5. Violations with High Search and Arrest Rates (Window Function)" : "WITH ViolationStats AS (SELECT violation,COUNT(*) AS Total_Stops,SUM(CASE WHEN search_conducted = 1 THEN 1 ELSE 0 END) AS Search_Count,SUM(CASE WHEN is_arrested = 1 THEN 1 ELSE 0 END) AS Arrest_Count FROM policelog_data GROUP BY violation) SELECT violation,Total_Stops,Search_Count,Arrest_Count,ROUND(Search_Count * 100.0 / Total_Stops, 2) AS Search_Rate,ROUND(Arrest_Count * 100.0 / Total_Stops, 2) AS Arrest_Rate FROM ViolationStats WHERE (Search_Count * 100.0 / Total_Stops) > 30 OR (Arrest_Count * 100.0 / Total_Stops) > 20 ORDER BY (Search_Count * 100.0 / Total_Stops) DESC, (Arrest_Count * 100.0 / Total_Stops) DESC",
        "6. Driver Demographics by Country (Age, Gender, and Race)" : "SELECT country_name,ROUND(AVG(driver_age), 2) AS Average_Age,COUNT(*) AS Total_Stops,SUM(CASE WHEN driver_gender = 'Male' THEN 1 ELSE 0 END) AS Male_Count,SUM(CASE WHEN driver_gender = 'Female' THEN 1 ELSE 0 END) AS Female_Count,SUM(CASE WHEN driver_race = 'White' THEN 1 ELSE 0 END) AS White_Count,SUM(CASE WHEN driver_race = 'Black' THEN 1 ELSE 0 END) AS Black_Count,SUM(CASE WHEN driver_race = 'Asian' THEN 1 ELSE 0 END) AS Asian_Count,SUM(CASE WHEN driver_race = 'Hispanic' THEN 1 ELSE 0 END) AS Hispanic_Count,SUM(CASE WHEN driver_race NOT IN ('White', 'Black', 'Asian', 'Hispanic') THEN 1 ELSE 0 END) AS Other_Race_Count FROM policelog_data WHERE driver_age IS NOT NULL GROUP BY country_name ORDER BY Total_Stops DESC",
        "7. Top 5 Violations with Highest Arrest Rates" : "SELECT violation,COUNT(*) AS Total_Stops,SUM(CASE WHEN is_arrested = 1 THEN 1 ELSE 0 END) AS Arrest_Count,ROUND(SUM(CASE WHEN is_arrested = 1 THEN 1 ELSE 0 END) * 100.0 / COUNT(*), 2) AS Arrest_Rate FROM policelog_data GROUP BY violation ORDER BY Arrest_Rate DESC LIMIT 5"
    }
        selected_query = st.selectbox("Choose a Query", list(queries.keys()))
        if st.button("Advance Query", key="reset_query_button"):
            query_result = get_data(queries[selected_query])
            
            if not query_result.empty:
                st.write(query_result)
            else:
                st.warning("No result founds for the selected query")
            
            
elif page == "Predicted Violation":
        
    st.title("Predicted Violation")
    st.image("https://img.freepik.com/premium-photo/vector-illustration-policeman-giving-driver-traffic-violation-ticket_977617-89276.jpg")
    st.header("Police Log Report")
    with st.form("New_Log_Form"):
        stop_date = st.date_input("Stop Date")
        stop_time = st.time_input("Stop Time")
        country_name = st.text_input("Country Name")
        driver_gender = st.selectbox("Driver Gender", ["male", "female"])
        driver_age = st.number_input("Driver Age", min_value=16, max_value=100, value=27)
        driver_race = st.text_input("Driver Race")
        search_conducted = st.selectbox("Search Conducted", ["0", "1"])
        search_type = st.text_input("Search Type")
        drugs_related_stop = st.selectbox("Drug Related", ["0", "1"])
        stop_duration = st.selectbox("Stop Duration", data['stop_duration'].dropna().unique())
        vehicle_number = st.text_input("Vehicle Number")
        timestamp = pd.Timestamp.now()

        submitted = st.form_submit_button("Prediction of Police Log")

    if submitted:
        filtered_data = data[
            (data['driver_gender'] == driver_gender) &
            (data['driver_age'] == driver_age) &
            (data['search_conducted'] == int(search_conducted)) &
            (data['stop_duration'] == stop_duration) &
            (data['drugs_related_stop'] == int(drugs_related_stop))
            ]
        if not filtered_data.empty:
            predicted_outcome = filtered_data['stop_outcome'].mode()[0]
            predicted_violation = filtered_data['violation'].mode()[0]
        else:
            predicted_outcome = "warning"
            predicted_violation = "speeding"
    # Fixed typo in variable name and logic
        search_text = "A search was conducted" if int(search_conducted) else "No search was conducted"
        drug_text = "was drug-related" if int(drugs_related_stop) else "was not drug-related"

        # Corrected indentation and removed redundant st.markdown
        st.markdown(f"""
         A {driver_age}-year-old {driver_gender} driver in {country_name} was stopped for {predicted_violation} at {stop_time.strftime('%I:%M %p')} on {stop_date}, {search_text}, and the stop {drug_text}. 
        Stop duration: **{stop_duration}**, Vehicle Number: **{vehicle_number}**.""")



elif page == "Creator Info":
    st.title(" Creator of this Project")
    st.image("https://media.giphy.com/media/1ynCEtlgMPAeNAqdnu/giphy.gif")
    st.write("""
    **Developed by:** Preethi Nagamuthu 

    **Skills:** Python, SQL,Streamlit, Pandas   
    """)

Overwriting app.py

In [12]:
!streamlit run app.py

^C